language: python
install:
    - pip install -r dev-requirements.txt
script:
    - make test
matrix:
    include:
        - python: 'pypy'
        # - python: 'pypy3' # does not currently work due to upstream bug
        - python: '2.7'
        - python: '3.4'
        - python: '3.5'
        - python: '3.6'
        - python: '3.7'
          dist: xenial
          sudo: true
